@import 'bootstrap-sprockets';
@import 'bootstrap';

/*all*/
*{margin: 0; padding: 0;}
.badge{background-color: #79abfc; color: #fff; margin-left: 7px; padding: 8px 8px 9px 9px;}
.badge a{color: #fff;}
.label-info{margin-left: 7px; padding: 7px;}
.label-info a{color: #fff; font-size: 14px;}



/*navbar*/
.navbar{padding-bottom: 0; margin-bottom: 0;}
.navbar-inverse{padding: 7px 0; border-radius: 0;}
.navbar-brand{color: #fff; font-size: 23px; text-transform: uppercase;}




/*jumbotron*/
.jumbotron{background-image: asset-url('banner.jpg'); background-size: cover; height: 200px; width: 100%; margin-top: 0; border-radius: 0 !important;}




/*footer*/
footer{width: 100%; height: 200px; background-color: #2a2730; color: #fff; padding-top: 70px;}